<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>WebGuideExam</display-name>
	<filter>
		<display-name>AdminFilter</display-name>
		<filter-name>AdminFilter</filter-name>
		<filter-class>filters.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/orders</url-pattern>
		<url-pattern>/orders/*</url-pattern>
		<url-pattern>/customers</url-pattern>
		<url-pattern>/customers/*</url-pattern>
		<url-pattern>/payments</url-pattern>
		<url-pattern>/payments/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>AppFilter</display-name>
		<filter-name>AppFilter</filter-name>
		<filter-class>filters.AppFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AppFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>web.pages.admin.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>web.handlers.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>web.pages.admin.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>web.pages.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Products</display-name>
		<servlet-name>Products</servlet-name>
		<servlet-class>web.pages.Products</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Products</servlet-name>
		<url-pattern>/products</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ProductDetails</display-name>
		<servlet-name>ProductDetails</servlet-name>
		<servlet-class>web.pages.Products</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductDetails</servlet-name>
		<url-pattern>/products/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<display-name>Orders</display-name>
		<servlet-name>Orders</servlet-name>
		<servlet-class>web.pages.Orders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Orders</servlet-name>
		<url-pattern>/orders</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>OrderDetails</display-name>
		<servlet-name>OrderDetails</servlet-name>
		<servlet-class>web.pages.Orders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderDetails</servlet-name>
		<url-pattern>/orders/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<display-name>Customers</display-name>
		<servlet-name>Customers</servlet-name>
		<servlet-class>web.pages.Customers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customers</servlet-name>
		<url-pattern>/customers</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>CustomerDetails</display-name>
		<servlet-name>CustomerDetails</servlet-name>
		<servlet-class>web.pages.Customers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerDetails</servlet-name>
		<url-pattern>/customers/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<display-name>Offices</display-name>
		<servlet-name>Offices</servlet-name>
		<servlet-class>web.pages.Offices</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Offices</servlet-name>
		<url-pattern>/offices</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>OfficeDetails</display-name>
		<servlet-name>OfficeDetails</servlet-name>
		<servlet-class>web.pages.Offices</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OfficeDetails</servlet-name>
		<url-pattern>/offices/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<display-name>Employees</display-name>
		<servlet-name>Employees</servlet-name>
		<servlet-class>web.pages.Employees</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Employees</servlet-name>
		<url-pattern>/employees</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EmployeeDetails</display-name>
		<servlet-name>EmployeeDetails</servlet-name>
		<servlet-class>web.pages.Employees</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeDetails</servlet-name>
		<url-pattern>/employees/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<display-name>Payments</display-name>
		<servlet-name>Payments</servlet-name>
		<servlet-class>web.pages.Payments</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Payments</servlet-name>
		<url-pattern>/payments</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>PaymentDetails</display-name>
		<servlet-name>PaymentDetails</servlet-name>
		<servlet-class>web.pages.Payments</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentDetails</servlet-name>
		<url-pattern>/payments/*</url-pattern>
	</servlet-mapping>


</web-app>